<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @conduit.title %></h1>
      <div class="article-meta">
        <% if @conduit.author %>
          <div class="info">
            <%= link_to @conduit.author.username, "#", class: "author" %> <%# プロフィールページへのリンク (仮) %>
            <span class="date"><%= @conduit.created_at.strftime("%B %dth, %Y") %></span>
          </div>
        <% else %>
          <div class="info">
            <span class="author">Unknown Author</span>
            <span class="date"><%= @conduit.created_at.strftime("%B %dth, %Y") %></span>
          </div>
        <% end %>

        <% if user_signed_in? && @conduit.author == current_user %>
          <%= link_to raw('<i class="ion-edit"></i> Edit Article'), edit_article_path(@conduit.id), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to raw('<i class="ion-trash-a"></i> Delete Article'), destroy_article_path(@conduit.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <div><%= simple_format(@conduit.body) %></div>
        <% if @conduit.try(:description).present? && @conduit.description != @conduit.body %> <%# 本文と同じ場合は説明を非表示にする例 %>
            <hr>
            <p><strong>Description:</strong> <%= simple_format(@conduit.description) %></p>
        <% end %>
      </div>
    </div>

    <% if @conduit.try(:tag_list).present? %>
      <% tags_array = @conduit.tag_list.is_a?(Array) ? @conduit.tag_list : @conduit.tag_list.split(',').map(&:strip).reject(&:blank?) %>
      <% if tags_array.any? %>
        <hr />
        <ul class="tag-list">
          <% tags_array.each do |tag| %>
            <li class="tag-default tag-pill tag-outline"><%= tag %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <% if @conduit.author %>
          <div class="info">
            <%= link_to @conduit.author.username, "#", class: "author" %>
            <span class="date"><%= @conduit.created_at.strftime("%B %dth, %Y") %></span>
          </div>
        <% end %>
        <% if user_signed_in? && @conduit.author == current_user %>
          <%= link_to raw('<i class="ion-edit"></i> Edit Article'), edit_article_path(@conduit.id), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to raw('<i class="ion-trash-a"></i> Delete Article'), destroy_article_path(@conduit.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
        <% end %>
      </div>
    </div>

  </div>
</div>